@font-face {
  font-family: 'grotes';
  src: url('/assets/variable.ttf');
}

@font-face {
  font-family: 'bold';
  src: url('/assets/bold.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'grotes', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



a {
  color: inherit;
  text-decoration: none;
}

nav {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(5px);


}

#logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: 'bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
}

#menu {
  cursor: pointer;
}

header {
  margin-top: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
}

iframe {
  border: none;
  height: 30vh;
  width: 50vw;
}

article {
  padding-left: 3rem;
  font-size: 1rem;
}

article p {
  font-size: 1.2rem;
}

.boldify {
  font-family: 'bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: blueviolet;
  font-size: 1.2rem;
}

section {
  padding: 5rem;
}

.code {
  background-color: rgb(221, 214, 214);
  font-family: monospace;
  border-radius: 0.2rem;

}

.small {
  font-size: 1rem;
  padding: 0rem 0.2rem;

}

.large {
  padding: 0.2rem;
  font-size: 1.2rem;
  width: fit-content;
}

.spacer {
  height: 2rem;
}

#topColumn {
  display: flex;
  justify-content: space-between;
}

#sampleCalendar {
  margin: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
}

#topColumn {
  background-color: blueviolet;
  padding: 1rem 2rem;
  color: white;
  align-items: center;
  border-radius: 0.5rem 0.5rem 0 0;
}

#month {
  font-size: 2rem;
}

#year {
  font-size: 1rem;
}

#days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;

}

.day {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: 'bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#topRight {
  display: flex;
  gap: 1rem;
}

#maindays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.weekDay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  font-size: 1.5rem;
}

.inactive {
  color: rgb(143, 138, 138);
}

.today {
  background-color: blueviolet;
  color: white;
  font-family: 'bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

#mainCalendar {
  background-color: rgb(243, 237, 237);
  padding: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.clickable {
  cursor: pointer;
  background-color: blueviolet;
  font-family: 'bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0.5rem;
  font-size: 1rem;
}

.clickable:hover {

  transition: 300ms ease;
  background-color: rgb(255, 255, 255);
  border-radius: 0.2rem;
  color: blueviolet;
}

button {
  border: none;
  outline: none
}

footer {
  background-color: blueviolet;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#FootRight {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width:850px) {
  nav {
    padding: 2rem;
  }

  * {
    font-size: 90%;
  }

  header {
    flex-direction: column;
    padding: 2rem;
  }

  article {
    padding: unset;
  }

  iframe {
    width: 100%;
  }

  section {
    padding: 2rem;
  }

  #code {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 85vw;
    height: auto;
  }

  footer {
    flex-direction: column;
    gap: 2rem;
  }

  #sampleCalendar {
    margin: 0.5rem 0;
  }

  .day {
    font-size: 1.1rem;
  }

  .weekDay {
    font-size: 1rem;
  }
}