#cta {
  margin: 1rem 0rem;
  background-color: blueviolet;
  width: fit-content;
  padding: 0.7rem 2rem;
  color: white;
  border-radius: 3rem;
  font-size: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.headings {
  font-size: 2rem;
  font-weight: bold;
  color: blueviolet;
}

.maincontainer {
  font-size: 1.2rem;
}

.smallHeadings {
  margin-top: 0.5rem;
  font-weight: 600;
}

.methods {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem
}

.how {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.upcoming {
  font-size: 1.2rem;
}

#footHead {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

#footDetails {
  color: white;
  font-size: 1rem;
}

.footLinks {
  background-color: white;
  padding: 0.4rem 2rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

#back {
  background-color: white;
  border: none;
}

#dropBack {

  margin-top: 2rem;
  margin-right: 1rem;
  background-color: white;
  padding: 1rem 0.7rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem
}

.dropItem {
  background-color: rgba(255, 228, 196, 0.184);
  padding: 0.7rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1rem;
}

.dropItem:hover {
  background-color: blueviolet;
  color: white;
  transition: 400ms ease;
  border: none;
}

@media screen and (max-width:850px) {
  #cta {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }

  #cta:active {
    background-color: white;
    color: blueviolet;

  }
}